# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Contract
/DOA-Contract

# Server
/server

# Misc
CONTRACT_INTEGRATION_TODO.txt
claude_changes.txt

# Test ledger
/test-ledger